/* Basic styles */

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

:root {
  --violet: hsl(257, 40%, 49%);
  --magenta: hsl(300, 69%, 71%);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  background: var(--violet);
  margin: 0;
  padding: 0;
}

h1, button {
  font-family: 'Poppins', sans-serif;
}

section {
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 80vw;
  margin: auto;
}

.logo {
  width: 130px;
  margin: 30px 0 20px;
  align-self: flex-start;
}

.mockup {
  width: 300px;
  margin: 40px 0;
}

h1,
p,
button {
  text-align: center;
}

h1 {
  font-weight: 600;
  margin-bottom: 0;
}

/* Button */
button {
  color: var(--violet);
  background: white;
  border: 1px solid var(--violet);
  border-radius: 20px;
  width: 200px;
  cursor: pointer;
  padding: 10px 10px;
  margin: 10px 0;
  transition: all .5s ease-in-out;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.15);
}

button:hover {
  color: white;
  background: var(--magenta);
}

/* Social icons */

.social {
  margin-top: 50px;
}

.fa {
  border: 1px solid white;
  margin: 5px;
  padding: 7px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  color: var(--magenta);
  border: 1px solid var(--magenta);
}

@media screen and (min-width: 990px) {
  section {
    background-image: url(../images/bg-desktop.svg);
    background-size: 90vw;    
  }

  .info {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    margin-top: 20px 0 20px;
    width: 90vw;
  }

  .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
    width: 200px;
  }

  .mockup {
    grid-column: 1 / 3;
    grid-row: 2 / 7;
    justify-self: start;
    align-self: start;
    width: 720px;
    padding-top: 20px;
  }

  .text {
    grid-column: 3 / 4;
    grid-row: 2 / span 3;
    align-self: end;
  }

  h1, p {
    text-align: left;
  }

  h1 {
    font-size: 38px;
  }

  p {
    padding-right: 60px;
  }

  button {
    width: 170px;
  }

  .social {
    grid-column: 3 / 4;
    grid-row: 6 / 7;
    justify-self: end;
  }
}

/* Attribution */

.attribution { 
  font-size: 11px;
  color: white; 
  text-align: center; 
}
.attribution a { 
  color: var(--magenta); 
}